body {
    background-color:magenta;
    font-size:20px;
}



p {
    background-color:white;
    color:black;
    border: dashed 8px blue;
    text-align:center;
    /* width:400px;*/
    padding:20px 20px 20px 20px;
    margin: 50px;
}

h1 {
    /*font: size 60px;;*/
}



#special {
    background-color: blue;
    color: indigo;
    border-radius: 30px; ;
}