body {
background-color: ivory;
font-family:p22-folk-art-cross, sans-serif ;
font-size:  20px;
color: black;

h1{
color: ivory;
text-align: center;
background-color: black;
}
h1:hover{
    color:hotpink
}
a{
color: blue;
font-size: 20px;
}
a:hover{
color:hotpink;
}
h2:hover{
    color:hotpink
}



}




